.bg{
    background: url(../img/bacground_img.jpg);
}
header{
    margin-left: 55px;
}
.head__contacts{
    text-align: end;
}
header, main{   
    padding-top: 40px;
}
.cards__item{
    margin-bottom: 30px;
}
footer{
    /* text-align: center; */
    margin-top: 60px;
    padding-bottom: 10px;
}
